<IfModule mod_rewrite.c>
  RewriteEngine on
  # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~mos/test is /~mos/test/
  #RewriteBase /change/this/to/site/base/url/if/needed/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>

# ------------------------------------------------------------------------------
# | Short tags availble                                                               |
# ------------------------------------------------------------------------------
# lägg till detta för att möjligöra shorttags om du inte kan ändra i php,ini med
# följande kod 'short_open_tag = on' fungerar efer

php_value short_open_tag 1
